<body class="w-full flex justify-center my-5 text-white">
    <div class="container w-[50%] my-5">
        <span class="flex flex-row">
            <h1 class="text-3xl font-bold">ayato.life</h1>
            <img class="w-10 h-10 pb-1" src="../assets/bubble-tea.svg">
        </span>
        <blockquote class="p-5 bg-[#61adff] my-5" style="border-left: 5px solid #017bff;">
            <p>We love Kamisato Ayato ♥</p>
        </blockquote>
        <img class="w-full" src="https://pbs.twimg.com/media/FN7413JVEAAL6dI?format=jpg&name=medium">
        <footer class="mt-5 text-center">
            <p>Made with 💙 by <a href="https://github.com/ZenShibata">Zen</a></p>
        </footer>
    </div>
</body>
<router-outlet></router-outlet>
